.header{
  text-align: center;
  border-radius: 15px;
  font-size: 45px;
  padding: 20px;
}
.side{
  text-align: right;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 200px;
  height: 480px;
  direction:rtl;
  float:right;
}
.sub{
  font-size: 25px;
  padding-top: 20px;

}
.example-font{
  font-size: 20px;
  font-weight: bold;
}
.footer{
  text-align: center;
  font-size: 5px;
  padding: 20px;
}
.example-card {
  max-width: 380px;
  margin-left:20px;
  height: 480px;

}
.card-title{
  text-align: center;
  direction: rtl;
  font-weight: bold;
  padding-right: 50px;
  margin-bottom: 30px;
}
.image{
  height: 200px;
  width:800px;
  margin-right: 180px;
  margin-top: -450px;
}
.content-left{
  max-width: 1200px;
  margin-left: 20px;
  direction: rtl;
  text-align: right;
  padding-top: 60px;
}
.content-center{
  max-width: 1200px;
  margin-left: 20px;
  direction: rtl;
  text-align: right;
  padding-top: 35px;
}
.content-right{
  max-width: 1200px;
  margin-left: 20px;
  direction: rtl;
  text-align: right;
  padding-top: 15px;
}
.card-center{
  max-width: 380px;
  height: 480px;
  margin-left: 420px;
  margin-top: -480px;
}
.card-right{
  max-width: 380px;
  margin-left: 820px;
  height: 480px;
  margin-top: -480px;
  margin-right: 20px;
}