  <div class="content">
    <mat-card style="background-color: '#98c1d9'">
      <mat-card-header style="min-height: 450px;">
      <p class="font">
سایت آموزش انگولار با راهنمایی و دروس تدریس شده ی استاد موسی زاده ساخته شده است.
<br>
گردآورندگان:پریسا فرودیان و فاطمه قلیچ خانی
<br>
دانشجو مهندسی کامیپوتر
<br> 
دانشکده شریعتی

      </p>
      </mat-card-header>
              <!-- <img class="image"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/AngularJS_logo.svg/640px-AngularJS_logo.svg.png" alt=""> -->
    </mat-card>
  </div>
      <div class="footer">
    <mat-card style="  background-color: '#fca311';">
      <mat-card-title style="font-size: 15px;">تمامی حقوق این سایت محفوظ است
      </mat-card-title>
    </mat-card>
  </div>