.header{
  text-align: center;
  border-radius: 15px;
  font-size: 45px;
  padding: 20px;
}
.side{
  text-align: right;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 200px;
  height: 575px;
  direction:rtl;
  float:right;
}
.sub{
  font-size: 25px;
  padding-top: 20px;

}
.content{
  max-width: 1200px;
  margin-left: 20px;
  direction: rtl;
  text-align: right;
}
.image{
  height: 200px;
  width:800px;
  margin-right: 180px;
  margin-top: -450px;
}
.example-font{
  font-size: 20px;
  font-weight: bold;
}

