.header{
  text-align: center;
  border-radius: 15px;
  font-size: 45px;
  padding: 20px;
}
.side{
  text-align: right;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 200px;
  direction:rtl;
  float:right;
}
.sub{
  font-size: 25px;
  padding-top: 20px;
  padding-left:20px;
}
.content{
  max-width:1200px;
  margin-left: 20px;

}
