<div>
  <div class="header">
    <mat-card style="  background-color: '#e5e5e5';">
      <mat-card-title style="font-size:45px">آموزش انگولار
      <mat-card-subtitle class="sub"> در کنار هم یاد میگیریم چگونه برنامه نویس انگولار شویم</mat-card-subtitle>
      </mat-card-title>
    </mat-card>
  </div>
  <div>
    <mat-card style="  background-color: '#e5e5e5'" class="side">
      <div>
      <button mat-button class="example-font">صفحه ی اصلی</button>
      <hr>
      <button mat-button class="example-font">معرفی انگولار</button>
      <hr>
      <button mat-button class="example-font">فرم ثبت نام</button>
      <hr>
      <button mat-button class="example-font">تماس با ما</button>
      <hr>
      <button mat-button class="example-font">درباره ما</button>
      </div>
    </mat-card>
  </div>
  <div class="content">
    <mat-card style="background-color: 'ghostwhite'">
      <mat-card-header style="min-height: 520px;">
      <p>
         Angular 8
 یک فریمورک JavaScript است که از آن برای نوشتن برنامه‌­های تحت وب و موبایلی استفاده می­‌شود. Angular 8 یک تایپ ­اسکریپت (TypeScript) سمت کلاینت است که از آن برای ساخت برنامه­‌های تحت وب پویا استفاده می­شود.
گوگل اولین نسخه­ آن را در 2012 و با نام انگولار جی­ اس (Angular JS) عرضه کرد. angular 8 نسخه­ آپدیت شده­ انگولار 2 است.

قبل از اینکه به سراغ انگولار برویم، باید پیش‌­زمینه‌­ای مناسب از جاوا اسکریپت، HTML، CSS، AJAX و تایپ‌­اسکریپت داشته باشیم.

انگولار 8 کتابخانه­ UI (واسط کاربری) بسیار مناسبی برای برنامه­‌نویسان است. angular کامپوننت UI­ای است که قابلیت استفاده­ مجدد (reusable) دارد و به ما کمک می­‌کند صفحات و برنامه‌­های تحت وبِ جذاب، سازگار و کارا بنویسیم.

Angular 8 یک فریمورک جاوا اسکریپت است که به ما این امکان را می­دهد که برنامه‌­های تک صفحه‌­ای (SPA: Single-page Application) جذاب بسازیم. “یک برنامه­ تک صفحه­‌ای، برنامه­‌ای تحت وب یا وب­سایتی است که شبیهِ برنامه­‌های قابل اجرا، پویا و سریع تحت دسکتاپ است.
SPAها دارای منو، button و بلاک‌هایی در یک تک‌­صفحه هستند و با کلیک کاربر، صفحه­ جاری را بدون گرفتن صفحاتی جدید از سرور، به­‌روزرسانی می­‌کنند. به همین دلیل سرعت بالایی دارند.”

انگولار 8 کاملاً براساس کامپوننت­‌هاست و دارای چندین ساختار درختی است که کامپوننت والد و فرزند دارند.
کلاس‌­های Angular 8 به گونه­‌ای ساخته می­‌شوند که صفحه­ وب در صفحه نمایش‌­هایی با اندازه‌­های مختلف به ­خوبی نمایش داده شود.
به همین دلیل این صفحات با موبایل­، تبلت، لپ­تاپ و سیستم‌­های بزرگ‌­ تر سازگارند.
      </p>
      </mat-card-header>
              <img class="image"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/AngularJS_logo.svg/640px-AngularJS_logo.svg.png" alt="">
    </mat-card>
  </div>
</div>
