<div>
  <div class="header">
    <mat-card style="  background-color: '#edf2f4';">
      <mat-card-title style="font-size:45px">آموزش انگولار
      <mat-card-subtitle class="sub"> در کنار هم یاد میگیریم چگونه برنامه نویس انگولار شویم</mat-card-subtitle>
      </mat-card-title>
    </mat-card>
  </div>
  <div>
    <mat-card style="  background-color: '#edf2f4'" class="side">
      <div>
      <button mat-button class="example-font">صفحه ی اصلی</button>
      <hr>
      <button mat-button class="example-font">معرفی انگولار</button>
      <hr>
      <button mat-button class="example-font">فرم ثبت نام</button>
      <hr>
      <button mat-button class="example-font">تماس با ما</button>
      <hr>
      <button mat-button class="example-font">درباره ما</button>
      </div>
    </mat-card>
  </div>
</div>
