<div>
  <div class="header">
    <mat-card style="  background-color: '#edf2f4';">
      <mat-card-title style="font-size:45px">آموزش انگولار
      <mat-card-subtitle class="sub"> در کنار هم یاد میگیریم چگونه برنامه نویس انگولار شویم</mat-card-subtitle>
      </mat-card-title>
    </mat-card>
  </div>
  <div>
    <mat-card style="  background-color: '#edf2f4'" class="side">
      <div>
      <button mat-button class="example-font">صفحه ی اصلی</button>
      <hr>
      <button mat-button class="example-font">معرفی انگولار</button>
      <hr>
      <button mat-button class="example-font">فرم ثبت نام</button>
      <hr>
      <button mat-button class="example-font">تماس با ما</button>
      <hr>
      <button mat-button class="example-font">درباره ما</button>
      </div>
    </mat-card>
  </div>
  <!-- <div>
    <mat-card style="background-color: '#d8e2dc'" class="example-card">
      <mat-card-header class="card-title" >
        آموزش Angular Material
      </mat-card-header>
      <img mat-card-image
      src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/95329556/original/a7778278cacacde7c64ef441504428c71c840743/make-a-custom-materialize-template-for-you.png">
      <mat-card-content >
      <p class="content-left">
        Angular Material یکی از dependenci های موردنیاز برای برنامه نویسی فرانت و ایجاد انیمیشن می باشد.
          <br>
        در این قسمت شما را با نحوه ی اسفاده از Angular Material و استفاده از تگ های آن آشنا خواهیم کرد.
      </p>
    </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card style="background-color: '#d8e2dc'" class="card-center">
      <mat-card-header class="card-title" >
        آموزش Angular Bootstrap
      </mat-card-header>
      <img mat-card-image
      src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/bciJjUAsRzG6UQbCRcVe">
      <mat-card-content >
      <p class="content-center">
        Angular Bootstrap یکی از dependenci های موردنیاز برای برنامه نویسی فرانت و ایجاد انیمیشن می باشد.
          <br>
        در این قسمت شما را با نحوه ی اسفاده از Angular Bootsrap و استفاده از تگ های آن آشنا خواهیم کرد.
      </p>
    </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card style="background-color: '#d8e2dc'" class="card-right">
      <mat-card-header class="card-title" >
        تفاوت  Angular Bootstrap 
        <br>
        Angular Material
      </mat-card-header>
      <img mat-card-image
      src="https://3.bp.blogspot.com/-f2W19Mu0VO4/WT4wBIdVjpI/AAAAAAAADdg/3X1OVXK8k4U3p8QhQP1mboV1enTgI_WWwCLcB/s1600/Untitled.png">
      <mat-card-content >
      <p class="content-right">
در این قسمت می خواهیم درباره ی تفاوت Angular Material و استفاده از Bootstrap در انگولار تفاوت ها و ویژگی هایی را مطرح کنیم .
      </p>
    </mat-card-content>
    </mat-card>
  </div> -->
  
  <!-- <div class="footer">
    <mat-card style="  background-color: '#edf2f4';">
      <mat-card-title style="font-size: 15px;">تمامی حقوق این سایت محفوظ است
      </mat-card-title>
    </mat-card>
  </div> -->
</div>
