  <div class="content">
    <mat-card style="background-color: '#98c1d9'" class="card-center">
      <mat-card-header class="card-title" >
        فرم ثبت نام
      </mat-card-header>
<html dir="rtl">
<form #contactForm="ngForm" (ngSubmit)="submit(contactForm.value)">
   
  <div class="form-group font">
      <label for="firstName">نام</label>
      <input 
           required 
           ngModel name="firstName" 
           type="text" 
           #firstName="ngModel" 
           class="form-control"
           id="firstName">
          <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">نام خود را وارد نمایید
          
      </div>
  </div>
   
  <div class="form-group font">
      <label for="lastName">نام خانورادگی</label>
      <input required ngModel name="lastName" type="text" #lastName="ngModel" class="form-control" id="lastName">
      <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">
         نام خانوادگی خود را وارد نمایید
      </div>
  </div>

<div class="form-group font">
  <label for="gender">جنسیت</label>
  <br>
    <input 
      required 
      ngModel name="gender" 
      type="radio" value="female" 
      #gender="ngModel" 
      class="custom-control-input"
      id="gender">
      <label for="gender">زن</label>
      <input 
        required 
        ngModel name="gender" 
        type="radio" value="male" 
        #gender="ngModel" 
        class="custom-control-input"
        id="gender">
        <label for="gender">مرد</label>
        <div class="alert alert-danger" *ngIf="gender.touched && !gender.valid">جنسیت خود را وارد نمایید
        </div>
  </div>
   
  <div class="form-group font">
      <label for="email">ایمیل</label>
      <input 
      required 
      ngModel name="email" 
      type="email" 
      #email="ngModel" 
      class="form-control" 
      id="email"
      pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
          ایمیل خود را وارد نمایید
          
          <div *ngIf="email.errors.pattern">
            فرمت ایمیل را درست وارد نمایید
          </div>
          </div>
      
  </div>
  <div class="form-group font">
      <label for="username">نام کاربری</label>
      <input 
           required 
           minlength="5" 
           maxlength="8" 
           ngModel name="username" 
           type="text" 
           #username="ngModel" 
           class="form-control"
           id="username">
          <div class="alert alert-danger" *ngIf="username.touched && !username.valid">نام کاربری خود را وارد کنید
          <div *ngIf="username.errors.required"></div>
          <div *ngIf="username.errors.minlength">نام کاربری باید حداقل 5کاراکتر باشد</div>
          <div *ngIf="username.errors.maxlength">نام کاربری باید حداکثر8کاراکترباشد</div>
      </div>
  </div>

    <div class="form-group font">
      <label for="pass">رمزعبور</label>
      <input 
      required 
      ngModel name="pass" 
      type="password" 
      #pass="ngModel" 
      class="form-control" 
      
      id="pass"
      >
      <div class="alert alert-danger" *ngIf="pass.touched && !pass.valid">
         رمزعبور خود را وارد نمایید
        
      </div>
      
  </div>
  <div class="form-group font">
      <label for="checkpass">تکرار رمزعبور</label>
      <input 
      required 
      ngModel name="checkpass" 
      type="password" 
      #checkpass="ngModel" 
      class="form-control" 
      id="checkpass"
      >
      <div class="alert alert-danger" *ngIf="pass.touched && !pass.valid">
     رمزعبور خود را وارد نمایید
      </div>
      <div *ngIf="showerr">رمزعبور و تکرار آن باید مطابقت داشته باشند</div>
  </div>
  <button class="btn btn-primary" type="submit" 
  [class.disabled]="!contactForm.valid">ثبت</button>
  
</form>
</html>
</mat-card>
  </div>
      <div class="footer">
    <mat-card style="  background-color: '#fca311';">
      <mat-card-title style="font-size: 15px;">تمامی حقوق این سایت محفوظ است
      </mat-card-title>
    </mat-card>
  </div>
  
