@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.content{
  max-width: 1200px;
  margin-left: 20px;
  direction: rtl;
  text-align: right;
  line-height: 1.8;
}
.image{
  height: 200px;
  width:800px;
  margin-right: 180px;
  margin-top: -450px;
}
.content-right{
  margin-top: 400px;
}
.footer{
  text-align: center;
  font-size: 5px;
  padding: 20px;
}
.card-title{
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  padding-right: 50px;
  margin-bottom: 30px;
  margin-right: 450px;
}
.font{
  font-size: 15px;
}
.custom-control-input{
    opacity: 100;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    position: inherit;
    
}